services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: demo
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo_pwd
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DB_URL: jdbc:postgresql://db:5432/demo
      DB_USER: demo
      DB_PASSWORD: demo_pwd
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
