apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: demo
spec:
  storageClassName: cloud-projet-gp3
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
